[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MScombine"]
	path = MScombine
	url = https://github.com/cran/MScombine
[submodule "MetaboQC"]
	path = MetaboQC
	url = https://github.com/cran/MetaboQC
